body {
    background-image: url(images/姑姑b.png);
    background-size: 100%;
    background-attachment: fixed;
}


/* 內容 */

.wrap {
    background: rgb(186, 182, 201);
    width: 1000px;
    margin: 60px auto;
    padding: 40px;
    box-sizing: border-box;
}

.header {
    overflow: hidden;
}


/* 主圖片 */

.header.pic {
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    overflow: hidden;
}

.pic img {
    width: 100%;
    height: auto;
    left: 0px;
    right: 0px;
    border-radius: 30px;
}

.pic img:hover {
    transform: scale(1.2);
    transition: all 1s ease 0s;
}


/* 開頭 */

.header.info h1 {
    color: #000;
}

.info h1:hover {
    color: rgb(101, 90, 139);
    cursor: auto;
}

.header p {
    color: rgb(0, 0, 0);
}

p:hover {
    color: rgb(134, 49, 71);
    cursor: auto;
}

.v p {
    color: rgb(101, 90, 139);
}


/* work */

.work {
    overflow: hidden;
}

.pic2 {
    position: relative;
    float: left;
}

.pic2 img {
    width: 200px;
    height: 200px;
    filter: blur(0px);
    border-radius: 30px;
    margin: 15px;
}

.pic2 img:hover {
    filter: blur(3px);
    border-radius: 100px;
    transition: all 1s ease 0s;
}


/*社群 */

.header.phone {
    color: rgb(0, 0, 0);
}

.phone:hover {
    color: rgb(134, 49, 71);
    cursor: auto;
}


/* tools */

.software h2 {
    color: rgb(109, 71, 36);
}

.software.skills {
    color: rgb(0, 0, 0);
}

.skills:hover {
    color: rgb(46, 30, 116);
    cursor: auto;
}